{
  "presets": ["@babel/preset-flow", "@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["flow-runtime"],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
